<<!DOCTYPE html>
<html>
  <head>
    <title>Estación</title>
    <style>
      h1 {font-size:2.2em; color:blue; font-weight:bold; text-decoration:underline; text-align:center;}
      boton{}
    </style>
  </head>
  <body>
    <h1>Ultimo Dato</h1>
    <h2>Numero: {{da2['estaciones'][0]['Numero']}}</h2>
    <h2>Fecha: {{da2['estaciones'][0]['Fecha']}}</h2>
    <h2>FechaParseo: {{da2['estaciones'][0]['FechaParseo']}}</h2>
    <h2>Prec: {{da2['estaciones'][0]['Prec']}}</h2>
    <h2>Temt: {{da2['estaciones'][0]['Temt']}}</h2>
    <h2>Dirv: {{da2['estaciones'][0]['Dirv']}}</h2>
    <h2>Velv: {{da2['estaciones'][0]['Velv']}}</h2>
    <h2>Radg: {{da2['estaciones'][0]['Radg']}}</h2>
    <h2>Humr: {{da2['estaciones'][0]['Humr']}}</h2>
    <h2>Humh: {{da2['estaciones'][0]['Humh']}}</h2>
    <h2>Eto: {{da2['estaciones'][0]['Eto']}}</h2>
  </body>
</html>
