<!DOCTYPE html>
<html>
  <head>
    <title>Practica con indice en html</title>
    <style>
      h1 {font-size:2.2em; color:blue; font-weight:bold; text-decoration:underline; text-align:center;}
      boton{}
    </style>
  </head>
  <body>
      <hi>Ultimo dato</h1>
      <h2>Numero: {{dato2['estaciones'][0]['Numero']}}</h2>
      <h2>Dirv: {{dato2['estaciones'][0]['Dirv']}}</h2>
      <h2>Eto: {{dato2['estaciones'][0]['Eto']}}</h2>
      <h2>Fecha: {{dato2['estaciones'][0]['Fecha']}}</h2>
      <h2>FechaParseo: {{dato2['estaciones'][0]['FechaParseo']}}</h2>
      <h2>Humh: {{dato2['estaciones'][0]['Humh']}}</h2>
      <h2>Humr: {{dato2['estaciones'][0]['Humr']}}</h2>
      <h2>Prec: {{dato2['estaciones'][0]['Prec']}}</h2>
      <h2>Radg: {{dato2['estaciones'][0]['Radg']}}</h2>
      <h2>Temt: {{dato2['estaciones'][0][Temt]}}</h2>
      <h2>Velv: {{dato2['estaciones'][0]['Velv']}}</h2>
      <h2>IC: {{dat3}}</h2>
      <h2>PR: {{pr}}</h2>

    <hi>Datos Historicos</h1>
    <h2>{{consuf['Dirv'][0]}}</h2>
  </body>
</html>
