<!DOCTYPE html>
<html lang="en">
<head>
  <!--  -->
  <title>INIFAP Último Dato</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="http://clima.inifap.gob.mx/lnmysr/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <style>
  body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }

  .jumbotron {
      background-color: #088A08;
      color: #fff;
      padding: 30px 25px;
      font-family: Montserrat, sans-serif;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #0B610B;
      font-size: 18px;
  }
  .logo {
      color: #FFF;
      font-size: 18px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #DBA901;
  }
  .carousel-indicators li {
      border-color: #DBA901;
  }
  .carousel-indicators li.active {
      background-color: #DF3A01;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #A9F5A9;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #298A08 !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #0B3B17;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a ,.logo{
      color: #298A08 !important;
      background-color: #fff !important;

  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #DBA901;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<nav class="navbar navbar-default navbar-fixed-top">

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="http://clima.inifap.gob.mx/lnmysr/">LNMySR</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">ÚLTIMO DATO</a></li>
        <li><a href="#historicos">HISTÓRICOS</a></li>
        <li><a href="#promedios">PROMEDIOS</a></li>
        <li><a href="#referencias">REFERENCIAS</a></li>
        <li title="Inicio"><a href= " {{ url_for ( 'datos' ) }} "><span class="glyphicon glyphicon-leaf "></a> </span></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<br>
<div class="container">
  <img class="img-responsive" src="http://clima.inifap.gob.mx/lnmysr/Content/documentos/INIFAP_Website/header_4_v2.png">
</div>
<div class="jumbotron text-center"><!--  -->
  <h1>Último Dato</h1>
  <p>Laboratorio Nacional de Modelaje y Sensores Remotos</p>
  <form>
    <div class="input-group">

    </div>
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid"><!-- Contenedor que abarca todo el ancho de la pantalla-->
  <div class="row">
    <div class="col-sm-8">

      <h2>Datos</h2><br>

            <br>
            <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                  <th><h4> Dato</h4></th>
                  <th><h4> Numero</h4></th>
              </tr>
            </thead>
            <tbody >
            <tr>
              <td > <font size="4" color="0B614B">Número </font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Numero']}}</font></td>
            </tr>
          <!--   <tr>
              <td> <font size="4" color="0B614B">Fecha</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Fecha']}}</font></td>
            </tr>-->
            <tr>
              <td><font size="4" color="0B614B">Fecha de Parseo</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['FechaParseo']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Precipitación</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Prec']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Temperatura</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Temt']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Dirección del viento</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Dirv']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Velocidad el viento</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Velv']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Radiación global (W/m²)</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Radg']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Humedad relativa (%)</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Humr']}}</font></td>
            </tr>
          <!--  <tr>
              <td><font size="4" color="0B614B">Humh</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Humh']}}</font></td>
            </tr>-->
            <tr>
              <td><font size="4" color="0B614B">Evapotranspiración</font></td>
              <td><font size="4" color="0B614B">{{da2['estaciones'][0]['Eto']}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Índice de Calor</font></td>
              <td><font size="4" color="0B614B">{{c}}</font></td>
            </tr>
            <tr>
              <td><font size="4" color="0B614B">Punto de Rocío (°C)</font></td>
              <td><font size="4" color="0B614B">{{pr}}</font></td>
            </tr>

            </tbody>
            </table>
          </div>
    </div>
  </div>
</div>

<!-- Container (Portfolio Section) -->
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- carrusel -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <span><h4>El Laboratorio Nacional de Modelaje y Sensores Remotos (LNMySR), es el responsable por INIFAP.<br></span></h4>
      </div>
      <div class="item">
        <span><h4>La Red Nacional de Estaciones Agroclimáticas Automatizadas (RNEAA), fue diseñada para proveer el servicio de monitoreo de las variables del clima.<br></span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Container (Tabla de últimos 5 dias ) -->
<div id="historicos" class="container-fluid bg-grey">
  <h2 class="text-center">DATOS HISTÓRICOS</h2>
  <div class="row">

    <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th class="col-sm-1"><h4> Dia</h4></th>
                  <th class="col-sm-1"><h4> Dirv</h4></th>
                  <th class="col-sm-1"><h4> DirvVMax</h4></th>
                  <th class="col-sm-1"><h4> Ep</h4></th>
                  <th class="col-sm-1"><h4> Et</h4></th>
                  <th class="col-sm-1"><h4> FechaParseo</h4></th>
                  <th class="col-sm-1"><h4> Humr</h4></th>
                  <th class="col-sm-1"><h4> Numero</h4></th>
                  <th class="col-sm-1"><h4> Prec</h4></th>
                  <th class="col-sm-1"><h4> Radg</h4></th>
                  <th class="col-sm-1"><h4> Tmax</h4></th>
                  <th class="col-sm-1"><h4> Tmed</h4></th>
                  <th class="col-sm-3"><h4> Tmin</h4></th>
                  <th class="col-sm-3"><h4> Velv</h4></th>
                  <th class="col-sm-3"><h4> VelvMax</h4></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ><font size="4" color="0B614B">1</font></td>
                  <td><font size="4" color="0B614B">{{consH['Dirv'][0]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['DirvVMax'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Ep'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Et'][0]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['FechaParseo'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Humr'][0]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Numero'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Prec'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Radg'][0]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmax'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Tmed'][0]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmin'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Velv'][0]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['VelvMax'][0]}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">2</font></td>
                  <td><font size="4" color="0B614B">{{consH['Dirv'][1]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['DirvVMax'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Ep'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Et'][1]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['FechaParseo'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Humr'][1]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Numero'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Prec'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Radg'][1]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmax'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Tmed'][1]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmin'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Velv'][1]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['VelvMax'][1]}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">3</font></td>
                  <td><font size="4" color="0B614B">{{consH['Dirv'][2]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['DirvVMax'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Ep'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Et'][2]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['FechaParseo'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Humr'][2]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Numero'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Prec'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Radg'][2]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmax'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Tmed'][2]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmin'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Velv'][2]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['VelvMax'][2]}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">4</font></td>
                  <td><font size="4" color="0B614B">{{consH['Dirv'][3]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['DirvVMax'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Ep'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Et'][3]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['FechaParseo'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Humr'][3]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Numero'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Prec'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Radg'][3]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmax'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Tmed'][3]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmin'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Velv'][3]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['VelvMax'][3]}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">5</font></td>
                  <td><font size="4" color="0B614B">{{consH['Dirv'][4]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['DirvVMax'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Ep'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Et'][4]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['FechaParseo'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Humr'][4]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Numero'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Prec'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Radg'][4]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmax'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Tmed'][4]}}</font></td>
                  <td ><font size="4" color="0B614B">{{consH['Tmin'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['Velv'][4]}}</font></td>
                  <td><font size="4" color="0B614B">{{consH['VelvMax'][4]}}</font></td>
                </tr>
              </tbody>
            </table>
          </div>
  </div>
</div>


<!-- PROMEDIO  -->

<div id="promedios" class="container-fluid bg-grey">
  <h2 class="text-center">DATOS PROMEDIOS</h2>
  <div class="row">

    <div class="table-responsive"><!-- Hace la tabla responsiva -->
            <table class="table table-hover"><!-- Hace que la celda se active cunado el puntero pasa sobre ella  -->
              <thead>
                <tr>
                  <th class="col-sm-4"><h4> Variable</h4></th>
                  <th class="col-sm-4"><h4> Promedios</h4></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ><font size="4" color="0B614B">Suma de la Precipitación</font></td>
                  <td><font size="4" color="0B614B">{{sum}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de Evaporación Potencial</font></td>
                  <td><font size="4" color="0B614B">{{pEp}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de la Evapotranspiración</font></td>
                  <td><font size="4" color="0B614B">{{pEt}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de la Humedad Relativa</font></td>
                  <td><font size="4" color="0B614B">{{pHumr}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de Radiación Global</font></td>
                  <td><font size="4" color="0B614B">{{pRadg}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de Tempertura Máxima</font></td>
                  <td><font size="4" color="0B614B">{{pTmax}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de Tempratura Media</font></td>
                  <td><font size="4" color="0B614B">{{pTmed}}</font></td>

                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de Temperatura Mínima</font></td>
                  <td><font size="4" color="0B614B">{{pTmin}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de la Velocidad del Viento</font></td>
                  <td><font size="4" color="0B614B">{{pVelv}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de la Velocidad Máxima del Viento</font></td>
                  <td><font size="4" color="0B614B">{{pVelvMax}}</font></td>
                </tr>
                <tr>
                  <td ><font size="4" color="0B614B">Promedio de la Direccion del Viento</font></td>
                  <td><font size="4" color="0B614B">{{pd}}</font></td>

                </tr>


              </tbody>
            </table>
          </div>

  </div>
</div>

<!-- Abreviatura -->

<div id="referencias" class="container-fluid bg-grey" class="container">
    <h2 class="text-center">REFERENCIAS</h2>
  <div class="row">
    <div class="col-sm-12"><!-- Indica el tamaño que va tomar la tabla -->
      <div class="table-responsive">
      <table class="table table-hover">
        <thead><!-- Enacabezado de la tabla -->
        <tr>
            <th class="col-sm-2"><h4> Abreviación</h4></th><!-- Tamaño que va tener cada columna de la tabla -->
            <th class="col-sm-4"><h4> Significado</h4></th>
            <th class="col-sm-2"><h4> Abreviación</h4></th>
            <th class="col-sm-4"><h4> Significado</h4></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td ><font size="4" color="0B614B">Prec</font></td>
        <td><font size="4" color="0B614B">Precipitación pluvial (mm)</font></td>
        <td> <font size="4" color="0B614B">T.Máx</font></td>
        <td><font size="4" color="0B614B">Temperatura Máxima(°C)</font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">T.Mín</font></td>
        <td><font size="4" color="0B614B">Temperatura Mínima(°C)</font></td>
        <td><font size="4" color="0B614B">T.Med</font></td>
        <td><font size="4" color="0B614B">Tempertura Media(°C) </font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">T.Prom</font></td>
        <td><font size="4" color="0B614B">Temperatura Promedio</font></td>
        <td><font size="4" color="0B614B">Velv Máx</font></td>
        <td><font size="4" color="0B614B">Velocidad del viento máxima (km/h)</font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">Dirv Máx</font></td>
        <td><font size="4" color="0B614B">Dirección de la velocidad del viento máxima (grados azimut)</font></td>
        <td><font size="4" color="0B614B">Velv</font></td>
        <td><font size="4" color="0B614B">Velocidad promedio del viento (km/h)</font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">Dirv</font></td>
        <td><font size="4" color="0B614B">Dirección promedio de viento (grados azimut)</font></td>
        <td><font size="4" color="0B614B">Rad.G</font></td>
        <td><font size="4" color="0B614B">Rdiación global(W/m²)</font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">Humr</font></td>
        <td><font size="4" color="0B614B">Humedad Relativa (%)</font></td>
        <td><font size="4" color="0B614B">ET</font></td>
        <td><font size="4" color="0B614B">Evapotranspiración de referencia (mm)</font></td>
      </tr>
      <tr>
        <td><font size="4" color="0B614B">EP</font></td>
        <td><font size="4" color="0B614B">Evaporación potencial (mm)</font></td>
        <td><font size="4" color="0B614B">PR</font></td>
        <td><font size="4" color="0B614B">Punto de Rocío (C°)</font></td>
      </tr>
      </tbody>
      </table>
      </div>
    </div>

  </div>
</div>


<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>© 2018 - INIFAP - Campo Experimental Pabellón - Laboratorio Nacional de Modelaje y Sensores Remotos - Algunos Derechos Reservados.</p>
  <p> <a href="http://clima.inifap.gob.mx" title="Visit INIFAP">http://clima.inifap.gob.mx</a> ó <a href="https://es-la.facebook.com/inifap/" title="Visita nuestra página de facebook">Facebook Oficial</a>
    <href></p>

</footer>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>

</body>
</html>
