@app.route('/<string:fir>/<string:esta>/<string:estacion>/<string:numes>')
def estacion(fir,esta,estacion,numes):
    print(fir,"  ",esta,"  ",estacion,"  ",numes)
    acceso=claves()
    cons= '{}idEstado={}&IdEstacion={}'.format(acceso.consultaDatos,esta,numes)
    print("***** consulta",cons)
    with urlopen(cons) as response:
        source=response.read()
    data=json.loads(source)
    d = dict(data)
    return render_template('pagina3_1.html',da2=d)

Heat Index = (-42.379 + (2.04901523 * T) + (10.14333127 * R) - (0.22475541 * TR)  - (6.83783e-3 * TT) - (5.481717e-2 * RR) + (1.22874e-3 * TTR) + (8.5282e-4 * TRR) - (1.99e-6 * TTRR))
